script(type='text/javascript', src=url_for(theme.js) + '/function.js' + '?v=' + theme.version, async)
script(type='text/javascript', src=url_for(theme.js) + '/totop.js' + '?v=' + theme.version, async)

if theme.busuanzi == true
  script(src='https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js', async)

if theme.google_analytics
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create','#{theme.google_analytics}','auto');ga('send','pageview');

if theme.baidu_analytics
  script.
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?#{theme.baidu_analytics}";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
      })();

if theme.umeng_analytics
  script(src='https://s13.cnzz.com/z_stat.php?id=#{theme.umeng_analytics}&web_id=#{theme.umeng_analytics}', async)

if theme.local_search == true
  script(type='text/javascript', src=url_for(theme.js) + '/search.json.js' + '?v=' + theme.version)
